# Activate MOLINFO functionalities
MOLINFO STRUCTURE=dimer.pdb 
myc: GROUP NDX_FILE=index.ndx NDX_GROUP=myc
max: GROUP NDX_FILE=index.ndx NDX_GROUP=max

myc_alpha: ALPHARMSD RESIDUES={{ myc_res }}
max_alpha: ALPHARMSD RESIDUES={{ max_res }}

cmap: CONTACTMAP ...

   {{ cmstring }}

   SUM
 
...

# Activate well-tempered metadynamics in phi
metad: __FILL__ ARG=__FILL__ 
   # Deposit a Gaussian every 500 time steps, with initial height 
   # equal to 1.2 kJ/mol and bias factor equal to 8 
   PACE=500 HEIGHT=1.2 BIASFACTOR=8 
   # Gaussian width (sigma) should be chosen based on the CV fluctuations in unbiased run 
   # try 1/2 or 1/3 of the estimated fluctuations 
   SIGMA=__FILL__ 
   # Gaussians will be written to file and also stored on grid 
   FILE=HILLS GRID_MIN=-pi GRID_MAX=pi 

# Print both collective variables on COLVAR file every 10 steps
PRINT ARG=__FILL__ FILE=COLVAR STRIDE=__FILL__ 

DUMPATOMS ATOMS=myc FILE=myc.gro 
DUMPATOMS ATOMS=max FILE=max.gro 

# Print both collective variables on COLVAR file every 10 steps
PRINT ARG=myc_alpha,max_alpha FILE=COLVAR STRIDE=10
#PRINT ARG=myc_alpha FILE=COLVAR STRIDE=10

