# Activate MOLINFO functionalities
MOLINFO STRUCTURE=dimer.pdb 
myc: GROUP NDX_FILE=index.ndx NDX_GROUP=myc
max: GROUP NDX_FILE=index.ndx NDX_GROUP=max

myc_alpha: ALPHARMSD RESIDUES={{ myc_res }}
max_alpha: ALPHARMSD RESIDUES={{ max_res }}

DUMPATOMS ATOMS=myc FILE=myc.gro 
DUMPATOMS ATOMS=max FILE=max.gro 

# Print both collective variables on COLVAR file every 10 steps
PRINT ARG=myc_alpha,max_alpha FILE=COLVAR STRIDE=10
#PRINT ARG=myc_alpha FILE=COLVAR STRIDE=10

